<%- include('auth_header') %>
<div style="padding-top:130px;  background-size: cover; background-position:top; background-image: url(https://images.pexels.com/photos/920570/pexels-photo-920570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
    <h1 class="fw-bold text-white mt-5" style="justify-content: center; padding-top: 100px; padding-bottom: 200px; text-align: center;">
        <b>ABOUT US | THOUSANDLUM</b>
    </h1>
</div>
<div class="container" style="padding: 100px;">
    <div class="mt-4 mb-4"style="font-size: 20px;"><strong>Who is THOUSANDLUM?</strong></div>
    <div style="font-weight: 50px; font-size: 0.9rem; opacity: 0.65;">
        "We are a small team with just a few people having the same goal which is making
        'CHULA MARKET' the most powerful online platform for cannabis on the earth.
        This team was created due to '10daysproject' by Thinc. (Thailand Incubator Club) 
        from Chulalongkorn University."
        <br>
        <br>
    </div>
    <div class="mt-5 mb-4" style="font-size: 20px;"><strong>Contact us</strong></div>
    <div style="font-weight: 50px; font-size: 0.9rem; opacity: 0.65;">
        Tel : 191
        <br>
        Address : 254 Phaya Thai Rd, Khwaeng Wang Mai, Khet Pathum Wan, 
        Krung Thep Maha Nakhon 10330 (Chulalongkorn University).
        <br>
        Email : thousandlum@gmail.com
        <br>
    </div>
    <div class="mt-5 mb-4" style="font-size: 0.9rem; opacity: 0.65;">Do you have any questions? Let us know!</div>
</div>
<%- include('footer') %>