<%- include('auth_header') %>
<div class="content">
    <h1 style="text-align: center;"><b>CONTACT US | THOUSANDLUM</b></h1><br>
    <div class="container mt-5">
        <div class="row">

            <div class="col-md-6 mb-4">
                <div class="card" style="height: 750px; overflow: hidden;">
                    <img src="/images/thousandlumImage/ta.jpg" class="card-img-top" alt="Kittiphat Leesombatwathana" style="height: 400px; width: auto;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Kittiphat Leesombatwathana (Ta)</b></h5>
                        <h5>Frontend</h5>
                        <p class="card-text">Faculty of Science, Computer Science</p>
                        <p class="card-text">Quote: Code ก็เหมือนกาชา เมื่อไหร่บัคจะหายเหมือนจะออก Kanade 5 ดาวให้กรูที</p>
                        <p class="card-text">Email: <a href="mailto:tataleebk@gmail.com">tataleebk@gmail.com</a></p>
                        <p class="card-text">Social: <a href="https://www.instagram.com/leeisbadk.k/" target="_blank"><img src="/images/thousandlumImage/instagram.png" width="24" height="24"> </a><a href="https://github.com/LeeIsBadK" target="_blank"><img src="/images/thousandlumImage/github.png" width="24" height="24"> </a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card" style="height: 750px; overflow: hidden;">
                    <img src="/images/thousandlumImage/rickroll.png" class="card-img-top" alt="Sukon Lapprasert" style="height: 400px; width: auto;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Sukon Lapprasert (Aea)</b></h5>
                        <h5>Frontend</h5>
                        <p class="card-text">Faculty of Engineering, Computer Engineering</p>
                        <p class="card-text">Quote: กว่าจะคมงมตั้งนาน</p>
                        <p class="card-text">Email: <a href="mailto:sukonlap@gmail.com">sukonlap@gmail.com</a></p>
                        <p class="card-text">Social: <a href="https://www.instagram.com/sukonlap/" target="_blank"> <img src="/images/thousandlumImage/instagram.png" width="24" height="24" class="mr-4"> </a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card" style="height: 750px; overflow: hidden;">
                    <img src="/images/thousandlumImage/koaw.png" class="card-img-top" alt="Songsap Kaewprom" style="height: 400px; width: auto;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Songsap Kaewprom (Kaow)</b></h5>
                        <h5>Backend/Project Manager</h5>
                        <p class="card-text">Faculty of Engineering, Computer Engineering</p>
                        <p class="card-text">Quote: มนุษยชาติลงหลุม ก่อนลอยไปอวกาศ</p>
                        <p class="card-text">Email: <a href="mailto:songsap98938@gmail.com">songsap98938@gmail.com</a></p>
                        <p class="card-text">Social: <a href="https://www.instagram.com/_sxngsap_/" target="_blank"><img src="/images/thousandlumImage/instagram.png" width="24" height="24"> </a><a href="https://github.com/songsap" target="_blank"><img src="/images/thousandlumImage/github.png" width="24" height="24"> </a><a href="https://www.tiktok.com/@sxngsap" target="_blank"><img src="/images/thousandlumImage/tiktok.png" width="24" height="24"> </a><a href="https://www.facebook.com/Songsap.K.Kaewprom/" target="_blank"><img src="/images/thousandlumImage/facebook.png" width="24" height="24"> </a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card" style="height: 750px; overflow: hidden;">
                    <img src="/images/thousandlumImage/rickroll.png" class="card-img-top" alt="Chayanin Chamachot" style="height: 400px; width: auto;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Chayanin Chamachot (Tonkow)</b></h5>
                        <h5>UX-UI Design</h5>
                        <p class="card-text">Faculty of Engineering, Computer Engineering</p>
                        <p class="card-text">Quote: คำว่าลาออกแทรกมาในหัวทุก 5 นาที แต่คำว่าจะเอาอะไรแดกแทรกมาทุก 2 นาที</p>
                        <p class="card-text">Email: <a href="mailto:33849student1@gmail.com">33849student1@gmail.com</a></p>
                        <p class="card-text">Social: <a href="https://instagram.com/fjkrch?igshid=MzMyNGUyNmU2YQ==" target="_blank"><img src="/images/thousandlumImage/instagram.png" width="24" height="24"> </a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card" style="height: 750px; overflow: hidden;">
                    <img src="/images/thousandlumImage/rickroll.png" class="card-img-top" alt="Suphawit Promkhot" style="height: 400px; width: auto;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Suphawit Promkhot (Mac)</b></h5>
                        <h5>UX-UI Design/Frontend</h5>
                        <p class="card-text">Faculty of Engineering, Computer Engineering</p>
                        <p class="card-text">Quote: เฉาก๊วยร้านนี้ดำเงาหรือดำด้าน</p>
                        <p class="card-text">Email: <a href="mailto:suphawit.promkhot@gmail.com">suphawit.promkhot@gmail.com</a></p>
                        <p class="card-text">Social: <a href="https://www.instagram.com/macinto__/" target="_blank"><img src="/images/thousandlumImage/instagram.png" width="24" height="24"></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card" style="height: 750px; overflow: hidden;">
                    <img src="/images/thousandlumImage/rickroll.png" class="card-img-top" alt="Suphawit Promkhot" style="height: 400px; width: auto;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Putawan Sratongtuan (Sun)</b></h5>
                        <h5>Frontend</h5>
                        <p class="card-text">Faculty of Engineering, Computer Engineering</p>
                        <p class="card-text">Quote: ทอดกล้วยต้องมีน้ำมัน แต่ที่เทอทอดทิ้งกันเลยมีน้ำตา ;-;</p>
                        <p class="card-text">Email: <a href="mailto:putawan.sra@gmail.com">putawan.sra@gmail.com</a></p>
                        <p class="card-text">Social: <a href="https://www.instagram.com/_sunrisesss/" target="_blank"><img src="/images/thousandlumImage/instagram.png" width="24" height="24"></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>